/* pandora_stm32l475.overlay */

/ {
	pwmleds: pwmleds {
		compatible = "pwm-leds";
		status = "okay";

		green_pwm_led: green_pwm_led {
			pwms = <&pwm4 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};

	aliases {
		pwm-led0 = &green_pwm_led;
		led1 = &green_led;
		ap3216c-i2c = &ap3216c;
	};

	leds {
		compatible = "gpio-leds";
        // <&gpioe 7 GPIO_ACTIVE_HIGH> 这一行可能需要调整
        // 但是对于 led 节点，这是一个标志，表示该引脚是低电平有效的。
        
        // 根据您的电路，低电平点亮，所以它是 GPIO_ACTIVE_LOW
        // 这将影响驱动程序对 "开/关" 的解释。

        // 步骤 1: 修正引脚极性 (这是最标准的做法)

		red_led: led_0 {
			gpios = <&gpioe 7 GPIO_ACTIVE_LOW>;
		};

		green_led: led_1 {
			gpios = <&gpioe 8 GPIO_ACTIVE_LOW>;
		};

		blue_led: led_2 {
			gpios = <&gpioe 9 GPIO_ACTIVE_LOW>;
		};
	};
};

&i2c3 {
	status = "okay";
    pinctrl-0 = <&i2c3_scl_pc0 &i2c3_sda_pc1>; // 确认PC0/PC1引脚 i2c3_scl_pc0,i2c3_sda_pc1
	pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>;
	// AP3216C 节点
    ap3216c: ap3216c@1e {
        compatible = "liteon,ap3216c"; // 兼容性字符串可以自定义
        reg = <0x1e>;               // 传感器I2C设备地址 (0x1E)
        status = "okay";
    };
};

// TIM4 主控制器节点
&timers4 {
    status = "okay";

    st,prescaler = <1600>;

	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&tim4_ch3_pb8>;
		pinctrl-names = "default";
	};
};

&pinctrl {
    tim4_ch3_pb8: tim4_ch3_pb8 {
        // STM32 L475 Pinmux：Port B 对应数字 1，AF2
        pinmux = <STM32_PINMUX('B', 8, AF2)>;
    };
};
